# Environment variables for ECA Frontend
# Copy this to .env in development and set your own values.

# Base URL for backend API gateway
API_GATEWAY=http://localhost:7001

# Add any additional env variables below
# NEXT_PUBLIC_SOME_KEY=value
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:7001
